<div class="calculator-area bg-light">
    <div class="input-group bg-dark">
        <input type="text" class="calculator-small-interface bg-dark" value="{{ smallDisplayNumber }}" disabled>
        <input type="text" class="calculator-interface bg-dark" value="{{ displayNumber }}" disabled>
    </div>


    <div class="calculator-buttons">
        <button class="btn btn-info" (click)="calculate('+')">+</button>
        <button class="btn btn-info" (click)="calculate('-')">&minus;</button>
        <button class="btn btn-info" value="*" (click)="calculate('*')">&times;</button>
        <button class="btn btn-info" value="/" (click)="calculate('/')">&divide;</button>

        <button class="btn btn-dark" (click)="changeDisplay(7)">7</button>
        <button class="btn btn-dark" (click)="changeDisplay(8)">8</button>
        <button class="btn btn-dark" (click)="changeDisplay(9)">9</button>

        <button class="btn btn-dark" (click)="changeDisplay(4)">4</button>
        <button class="btn btn-dark" (click)="changeDisplay(5)">5</button>
        <button class="btn btn-dark" (click)="changeDisplay(6)">6</button>

        <button class="btn btn-dark" (click)="changeDisplay(1)">1</button>
        <button class="btn btn-dark" (click)="changeDisplay(2)">2</button>
        <button class="btn btn-dark" (click)="changeDisplay(3)">3</button>

        <button class="btn btn-warning" (click)="addDot()">.</button>
        <button class="btn btn-dark" (click)="changeDisplay(0)">0</button>
        <button class="btn btn-danger" (click)="allCLear()">AC</button>

        <button class="equal-sign btn btn-success" (click)="calculate('=')">=</button>
    </div>
</div>

<div style="position: absolute; color: rgb(138, 208, 255); font-size: 15px;">
    <p>
        displayNumber = {{ displayNumber }}<br>
        smallDisplayNumber = {{ smallDisplayNumber }}<br>
        previousOperation = {{ previousOperation }}<br>
        nextOperation = {{ nextOperation }}<br>
        lastChar = {{ lastChar }}<br>
        newValue = {{ newValue }}<br>
        storedValue = {{ storedValue }}<br>
        firstOp = {{ firstOp }}<br>
        operationBreak = {{ operationBreak }}
    </p>
</div>